

    <!-- <body class="bg">  -->
<!--         
        
       <div class="container" style="margin-top: 30px;">
           <div class="row">
               <div class="col-md-3 text-light mt-100" >
                   
               </div>
               <div class="col-md-6">
                   <div class="card mt-100">
                  <div class="card-body">
                      <form class="form"  action="/login_validation" method="post" >
                          <label><h4>Name of seller :</h4></label><br>
                          <input type="text"class="form-control form-control-lg "><br>
                    
                          <label><h4>Name of product :</h4></label><br>
                          <input type="text"class="form-control form-control-lg"  ><br>
                    
                          <label><h4>Price of product :</h4></label><br>
                          <input type="text"class="form-control form-control-lg"  ><br>
                    
                          <label><h4>Original price of product :</h4></label><br>
                          <input type="text"class="form-control form-control-lg" ><br>
                    
                          <label><h4>Add pic of product :</h4></label><br>
                          <input type="file"class="form-control form-control-lg"  ><br>

                          <div class="form-group d-grid gap-2 ">
                            <button class="btn btn-primary btn-lg form-control-lg" type="Submit">Submit</button>
                         <h6 class="text-muted"> Not registered then<a href="/register"> Register now</a></h6>
                          </div>


                      </form>
                      </div>
                  </div> 
            </div>
           </div>
       </div> -->
    
       <!doctype html>
       <html lang="en">
       
       <head>
           <!-- Required meta tags -->
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
           <!-- Bootstrap CSS -->
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
               integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
       
           <title>Document</title>
           <style>
            .bg{
                background-color: #f8f2f2;
            }
            .f{
               margin-bottom: 10px;
            }
        </style> 
       </head>
       
       <body class="bg" class="text-light">
            <div class="container" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-md-3  mt-100" >
                        
                    </div>
                    <div class="col-md-6">
               <h2 class="text-center ">Form</h2>
                        <form action="/form" method="post">
                            <label for="title">Name of the product</label>
                            <input type="text" class="form-control f" id="title" name="title" aria-describedby="emailHelp">
                            <label for="text">Price of the product</label>
                            <input type="number" class="form-control f"id="description" name="desc"  rows="3">
                            <label for="text">Original Price of the product</label>
                            <input type="number" class="form-control f" name="price"  rows="3">
                            <label for="text">Add pic of the product</label>
                            <input type="file" class="form-control f" name="pic"  rows="3">
                            <button  name="add" class="btn btn-primary">Add to list</button>
                            <button  name="delete" class="btn btn-primary" onclick="clearStorage()"class="text-light">Clear list</button>
                            <button type="submit"class="btn btn-primary"></button>
                        </form>
                        <div id="items" class="my-4">
                            <h2 >Your Items</h2>
                            <table class="table">
                                <thead >
                                  <tr>
                                    <th scope="col">SNo</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th> 
                                    <th scope="col">Actions</th> 
                                  </tr>
                                </thead>
                                <tbody id="tableBody">
                                  <!-- <tr class="text-light">
                                    <th scope="row">1</th>
                                    <td class="text-light">Get some Coffee</td>
                                    <td>You need coffee as you are a coder</td>  -->
                                    <td><button class="btn btn-sm btn-primary">Delete</button></td> 
                                  </tr>
                                  
                                </tbody>
                              </table>
                        </div>
                    </div>
                
                    <!-- Optional JavaScript -->
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                        crossorigin="anonymous"></script>
                        <script>
                            function getAndUpdate(){
                                console.log("Updating List...");
                                tit = document.getElementById('title').value;
                                desc = document.getElementById('description').value;
                                if (localStorage.getItem('itemsJson')==null){
                                    itemJsonArray = [];
                                    itemJsonArray.push([tit, desc]);
                                    localStorage.setItem('itemsJson', JSON.stringify(itemJsonArray))
                                }
                                else{
                                    itemJsonArrayStr = localStorage.getItem('itemsJson')
                                    itemJsonArray = JSON.parse(itemJsonArrayStr);
                                    itemJsonArray.push([tit, desc]);
                                    localStorage.setItem('itemsJson', JSON.stringify(itemJsonArray))
                                }
                                var product={
                                    "title":title,
                                    "descr":desc,
                                    "price":price,
                                    "seller":id
                                }
                                console.log(product);
                                update();
         
                            }
                
                            function update(){
                                if (localStorage.getItem('itemsJson')==null){
                                    itemJsonArray = []; 
                                    localStorage.setItem('itemsJson', JSON.stringify(itemJsonArray))
                                } 
                                else{
                                    itemJsonArrayStr = localStorage.getItem('itemsJson')
                                    itemJsonArray = JSON.parse(itemJsonArrayStr); 
                                }
                                // Populate the table
                                let tableBody = document.getElementById("tableBody");
                                let str = "";
                                itemJsonArray.forEach((element, index) => {
                                    str += `
                                    <tr>
                                    <th scope="row">${index + 1}</th>
                                    <td>${element[0]}</td>
                                    <td>${element[1]}</td> 
                                    <td><button class="btn btn-sm btn-primary" onclick="deleted(${index})">Delete</button></td> 
                                    </tr>`; 
                                });
                                tableBody.innerHTML = str;
                            }
                            add = document.getElementById("add");
                            add.addEventListener("click", getAndUpdate);
                            update();
                            function deleted(itemIndex){
                                console.log("Delete", itemIndex);
                                itemJsonArrayStr = localStorage.getItem('itemsJson')
                                itemJsonArray = JSON.parse(itemJsonArrayStr);
                                // Delete itemIndex element from the array
                                itemJsonArray.splice(itemIndex, 1);
                                localStorage.setItem('itemsJson', JSON.stringify(itemJsonArray));
                                update();
                
                            }
                            function clearStorage(){
                                if (confirm("Do you areally want to clear?")){
                                console.log('Clearing the storage')
                                localStorage.clear();
                                update()
                                }
                            }
                        </script>
                </body>
                
                </html>                
                           
                
                           
                            
                               
                            
                            
                
                            
                         
                
                       
                   
               
       