.bg-nav{
    background-color: #000000;

}
.iolx{
    color:#DC143C;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    /* color:#F5DEB3; */
    /* font-family: 'Italianno', cursive; */
    font-family: 'Rampart One', cursive;
    
}
h3{
    font-weight: bold;
    text-shadow: 0px 0px 2px red;
}
li{
    color: #000000;
}