/* body{
    text-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
h1,a{
    font-family: 'Playfair Display', serif;
}
#title{
    padding:20px;
}
.outer{
    background-color: #F0D9FF;
    height: 200px;
}
.inner{
    align-items: center;
    background-color: #F3F1F5;
    height: 680px;
    padding:10px 50px 0px;
    margin-left: 30px;
    width: 500px;
    margin-bottom: 100px;
    text-align: center;
    
}
.UserID{
    padding:8px;
    margin-bottom: 0px;
}
.main{
    padding: 10px 150px;
    padding-left: 200px;
    height: 500px;
    width: 1000px;
}
#text{
    margin: 20px;
    font-size: 20px;
    
}
.but{
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
}
.icons{
    font-size: 30px;
}
.msg{
    padding: 15px 0px;
    font-size: 20px;
}
#logo{
    margin-left: 10px;
    margin-right: 5px;
    width: 35px;
    height: 35px;
}
.img{
    height: 100px;
    width: 100px;
}
a{
    color: black;
}
.first{
    padding-top: 30px;
} */
*{
    margin:0;padding:0;
    box-sizing:border-box;
 }
 .bg-img{
    background:url("../image/photo-1550353127-b0da3aeaa0ca.jfif");
    /* background: #20002c;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);   */
/* background: linear-gradient(to right, #cbb4d4, #20002c);  */



    height:100vh;
    background-size: cover;
    background-position: center;
 }
 .bg-img:after{
    position:absolute;
    content:"";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background:rgba(0,0,0,0.9); */
 }
 .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    width: 370px;
    text-align: center;
    padding: 60px 32px;
    background:rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px white;
 }
 .content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin:0 0 35px 0;
    font-family:sans-serif;
 }
 .field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background:rgba(255,255,255,0.94);
 }
 .field span{
    color:#222;
    width: 40px;
    line-height: 45px;
 }
 .field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    
 }
 .space{
    margin-top: 16px;
    
 }
 input[type="submit"]{
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: sans-serif;
 }
 input[type="submit"]:hover{
background: #2691d9;

 }
.signup{
color:white;
font-size: 15px;
font-family: sans-serif;
}
.signup a{
color: #3498db;
text-decoration: none;
}
.signup a:hover{
text-decoration: underline;
}